{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if pending_tasks.count != 0 %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in pending_tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                            <div class="row justify-content-around">
                                <div class="col">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="name" value="form1">
                                        <input type="hidden" name="task_id" value="{{ task.id }}">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col">
                                    <a href="{% url 'mainapp:delete-task' task.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row justify-content-center">
            <a href="{% url 'mainapp:create-task' %}" class="btn btn-primary btn-lg">Create Task</a>
        </div>
    {% endif %}

    {% if done_tasks.count != 0 %}
        <h3 style="text-align: center; margin: 20px 0;">List of DONE tasks</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <tbody>
                {% for task in done_tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                            <div class="row justify-content-around">
                                <div class="col">
                                    <h5 style="color: darkgreen">DONE</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row mt-3 justify-content-around">
            <div class="col-6">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="form2">
                    <button type="submit" class="btn btn-danger btn-lg" style="margin: 0 auto">
                        DELETE ALL DONE TASKS
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <h3  style="text-align: center; margin: 20px 0;">No finished tasks</h3>
        </div>
    {% endif %}
{% endblock %}